.listProduct {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 30px;

    .heading {
        margin-bottom: 40px;

        .column {
            .title {
                font-size: 20px;
                font-weight: bold;
                display: flex;
                align-items: center;
            }

            .formSearch {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .optionSelect {
                    width: 150px;
                    height: 50px;
                    padding: 0 5px;
                    border: 1px solid lightgrey;

                    &:focus {
                        outline: none;
                    }
                }

                .inputSearch {
                    height: 50px;
                    width: calc(100% - 150px - 100px);
                    padding: 5px 10px;
                    margin-left: -1px;
                    border: 1px solid lightgrey;

                    &:focus {
                        outline: none;
                    }
                }

                .buttonSearch {
                    width: 100px;
                    height: 50px;
                    border: none;
                    color: white;
                    background-color: orangered;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }

        .filter {
            margin-top: 10px;
        }
    }

    .table {
        .tableHeading {
            background-color: rgba(240, 240, 240, 0.8);

            .column {
                padding: 10px 0;
            }
        }

        .tableBody {
            &:not(:last-child) {
                border-bottom: 2px solid rgba(240, 240, 240, 0.8);
            }

            .column {
                padding: 10px 0;

                .statusAccount {
                    padding: 7px 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: white;
                    border-radius: 10px;
                }
            }
        }

        .tableBody,
        .tableHeading {
            display: flex;
            align-items: center;
            padding: 5px;

            .column {
                &:nth-child(1) {
                    width: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(2) {
                    width: 110px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(3) {
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(4) {
                    width: 80px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(5) {
                    width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(6) {
                    width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(7) {
                    width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(8) {
                    width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                &:nth-child(9) {
                    width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                .image {
                    width: 100px;
                    height: 100px;
                    border-radius: 10px;
                }
            }
        }

        .status {
            border-radius: 50%;
            color: white;
            font-size: 22px;
            padding: 5px;

            &.approval {
                background-color: blue;
            }

            &.active {
                background-color: green;
            }

            &.ban {
                background-color: red;
            }
        }

        .updateStatus {
            width: 100px;
            color:white;
        }

        .show {
            cursor: pointer;
        }
    }

    .buttonPage {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .buttonPage a {
        background-color: lightgrey;
        color: black;
        margin: 0 5px;
    }

    .sortProduct {
        margin-bottom: 10px;
        display: flex;
        justify-content: end;
        align-items: center;

        .optionSelect {
            width: 150px;
            height: 50px;
            padding: 0 5px;
            border: 1px solid lightgrey;
            font-size: 15px;
        }

        .optionSelect:focus {
            outline: none;
        }
    }
}