body {
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}

.text {
    color: white;
}

.card {
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 5px lightgrey;
}

/*DANH SÁCH CẦN LÀM*/
.cardActivity {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cardContentActivity {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 25%;
    transition: all .2s ease-in-out;
}

.cardTitleActivity {
    font-size: 15px;
    text-align: center;
    color: black;
}

.cardAmount {
    font-weight: bold;
    color: blue;
    font-size: 18px;
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-size: 14px;
    color: grey;
    font-weight: bold;
    opacity: .6;
}

@media screen and (max-width:890px) {
    .cardContentActivity {
        width: 50%;
    }
}

/*PHÂN TÍCH BÁN HÀNG*/
.cardAnalysis {
    display: flex;
    flex-wrap: wrap;
}

.cardAnalysisContent {
    width: 100%;
}

/*RESPONSIVE*/
@media screen and (max-width:950px) {
    .cardAnalysis {
        flex-direction: column;
    }

    .cardAnalysisContent:nth-child(1) {
        width: 100%;
    }

    .cardAnalysisContent:nth-child(2) {
        width: 100%;
        flex-direction: row;
    }

    .cardAnalysisContent:nth-child(2)>div {
        width: 50%;
    }
}

.listProduct {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;

    .table {
        .tableHeading {
            background-color: rgba(240, 240, 240, .8);

            .column {
                padding: 10px 0;
            }
        }

        .tableBody {
            &:not(:last-child) {
                border-bottom: 2px solid rgba(240, 240, 240, .8);
            }

            .column {
                padding: 10px 0;

                .statusAccount {
                    padding: 7px 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: white;
                    border-radius: 10px;
                }
            }
        }

        .tableBody,
        .tableHeading {
            display: flex;
            align-items: center;
            padding: 5px;

            .column {
                text-align: center;

                &:nth-child(1) {
                    width: 40px;
                }

                &:nth-child(2) {
                    width: 150px;
                }

                &:nth-child(3) {
                    width: 200px;
                }

                &:nth-child(4) {
                    width: 200px;
                }

                &:nth-child(5) {
                    width: 200px;
                }

                .buttonEdit {
                    color: blue;
                    cursor: pointer;
                }
            }
        }

        .tableBody {

            .column {
                font-size: 14px;

                &:nth-child(5),
                &:nth-child(4),
                &:nth-child(3) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .status {
                    min-width: 150px;
                    padding: 5px 0;
                    border-radius: 20px;
                    color: white;
                    font-size: 14px;
                }

                .updateStatus {
                    width: 90%;
                    font-size: 14px;
                    padding: 5px 0;
                    color: white;
                    border-radius: 0;
                }

            }
        }
    }

    .buttonPage {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 10px;

        .btnActivePage {
            background-color: blue;
            color: white
        }
    }

    .buttonPage a {
        background-color: lightgrey;
        color: black;
        margin: 0 5px;
    }
}

.filterStatus {
    .optionSelect {
        border: 1px solid lightgrey;
        padding: 5px 10px;
        margin-top: 10px;
        &:focus{
            outline: none;
        }
    }
}