.card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;

    .back {
        font-size: 24px;
    }

    .shopImage {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        margin: 10px 0;
    }

    .title {
        font-size: 16px;
        display: block;
        font-weight: bold;

        &:first-child {
            margin-top: 10px;
        }
    }

    .address {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .buttonSubmit {
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        background-color: blue;
        border: none;
        color: white;
        margin-top: 10px;
    }
}