.container {
    display: flex;
    justify-content: space-between;

    .sidebar {
        width: 280px;

        .list_menu {
            overflow: hidden;

            .header {
                background-color: blue;
                width: 100%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: start;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                padding: 7px 5px 7px 15px;
                font-size: 16px;
            }

            .content {
                width: 100%;
                background-color: white;
                margin: 0;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                display: flex;
                flex-direction: column;

                .image {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    filter: grayscale(100%);
                    border: 1px solid lightgrey;
                    transition: all .5s ease-in-out;
                }

                .item {
                    padding: 7px 0 7px 10px;

                    &:not(:last-child) {
                        border-bottom: 1px solid rgb(231, 231, 231);
                    }

                    &:hover {
                        .image {
                            filter: grayscale(0);
                            border: 1px solid blue;
                        }
                    }

                    &:last-child:hover {
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                }
            }
        }
    }

    .content {
        width: calc(100% - 290px);

        .listNewProduct,
        .listRecommended {
            margin-top: 25px;

            .heading {
                width: 100%;
                background-color: white;
                padding: 15px;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: blue;
                    bottom: 0;
                    left: 0;
                }
            }

            .list_item_new,
            .list_all_recommended {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                padding: 20px 0 20px 0;

                .item_new_product,
                .item_recommended {
                    width: calc(20% - 8px);
                    position: relative;
                    transition: all .3s ease-in-out;
                    background-color: white;

                    .image {
                        width: 100%;
                        height: 220px;
                        object-fit: cover;
                    }

                    .status {
                        position: absolute;
                        left: 5px;
                        top: 5px;
                        color: white;
                        font-variant: small-caps;
                        background-color: green;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                    }

                    .name {
                        text-align: left;
                        color: black;
                        padding: 5px;
                        font-size: 15px;
                        max-width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .info {
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 5px;
                        align-items: end;

                        .price {
                            color: blue;
                        }

                        .amount_sell {
                            color: grey;
                            font-size: 13px;
                        }
                    }

                    .show_detail {
                        position: absolute;
                        width: calc(100% + 2px);
                        height: 35px;
                        background-color: blue;
                        display: grid;
                        place-items: center;
                        color: white;
                        opacity: 0;
                        visibility: hidden;
                        bottom: 0;
                        left: -1px;
                        z-index: 9999 !important;
                        transition: all .3s ease-in-out;
                    }
                    
                    &:hover {
                        border: 1px solid blue;
                        transform: translateY(-5px);
                        
                        .show_detail {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}