.cardError {
    background-color: rgba(2, 2, 56, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 40px);

    .title {
        color: white;
        font-size: 30px;
        position: relative;
        font-weight: bold;

        &::before {
            position: absolute;
            content: "";
            width: 70px;
            height: 4px;
            background-color: blue;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .error404 {
        font-size: 160px;
        color: white;
        font-weight: bold;
    }

    .reason {
        font-size: 14px;
        color: white;
    }

    .groupButton {
        margin-top: 40px;
        display: flex;

        .link {
            text-decoration: none;

            .buttonBack {
                color: white;
                background-color: red;
            }

            .buttonHelp {
                background-color: white;
                color: black;
            }
            .buttonBack,
            .buttonHelp{
                cursor: pointer;
                padding: 10px 15px;
                font-size: 18px;
                font-variant: small-caps;
                border-radius: 5px;
                margin: 0 8px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}